/* .icon{
    position:absolute;
    top: calc(50%);
    left: 1.75rem;
}

/* .icon2{
    position: absolute;
    top: 223px;
    left: 1.75rem;
}

.icon3{
    position: absolute;
    top:320px;
    left: 1.75rem;
} */ 



/* body{
    background-color: blue;
    border-radius: 100%;
    style
} */